
<div role="navigation" class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner"><a href="/" ng-click="updateProduct()" ng-show="readyForUpdate" class="btn btn-primary upd">Update</a><a href="" ng-click="deleteProduct()" class="btn btn-danger pull-right rmv">Изтрий темата</a></div>
</div>
<div class="container mmm">
  <div class="media">
    <div class="pull-left">
      <div class="text-center padbod">
        <!--div(cg-busy="{promise:myPromise,message:'Моля изчакайте'}")-->
        <button tooltip="Завърти снимката на 90 гр." ng-click="rotateImg()" ng-disabled="onoff" class="btn btn-default btn-xs"><span ng-show="rotationInProgres" class="testSvg">
            <svg width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#3d7fe6">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="1s" fill="freeze" repeatCount="indefinite"></animateTransform>
              </path>
            </svg></span><span ng-hide="rotationInProgres" class="glyphicon glyphicon-repeat"></span></button>
        <button tooltip="Премахни снимката" ng-click="removeImg()" ng-disabled="onoff" class="btn btn-default btn-xs"><span ng-show="removingInProgres" class="testSvg">
            <svg width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#3d7fe6">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="1s" fill="freeze" repeatCount="indefinite"></animateTransform>
              </path>
            </svg></span><span ng-hide="removingInProgres" class="glyphicon glyphicon-remove-circle"></span></button>
        <button tooltip="Забрани/банирай снимката" ng-click="bannedImg()" ng-disabled="onoff" class="btn btn-default btn-xs"><span ng-show="banningInProgres" class="testSvg">
            <svg width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#3d7fe6">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="1s" fill="freeze" repeatCount="indefinite"></animateTransform>
              </path>
            </svg></span><span ng-hide="banningInProgres" class="glyphicon glyphicon-ban-circle"></span></button>
      </div><a href="" ng-click="showMe()">
        <div class="thumbnail"><img id="imgShow" alt="Няма Снимка" ng-if="Product.thumbnail" ng-src="{{imageSource}}" class="media-object"/></div></a>
    </div>
    <div class="media-body">
      <div class="pad">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="Product.flagNewCommentAdded" ng-bind="Product.flagNewCommentAdded" ng-change="changeForUpdate()"/>Нов коментар
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="Product.flagIsNew" ng-bind="Product.flagIsNew" ng-change="changeForUpdate()"/>Нова тема
          </label>
        </div>
        <!--a.btn.btn-primary(href='/', ng-click="updateProduct()", ng-show = 'readyForUpdate') Update-->
        <!--a.btn.btn-danger(href='/', ng-click = 'deleteProduct()') Изтрий темата-->
        
        
        
      </div>
    </div>
  </div>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Тема:</label>
      <div class="col-sm-8">
        <input autofocus="autofocus" type="text" ng-model="Product.name" ng-bind="Product.name" ng-change="changeForUpdate()" class="form-control"/>
      </div>
    </div>
  </form>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Дата на добавяне:</label>
      <div class="col-sm-8">
        <input type="text" ng-model="Product.dateAdded" ng-bind="Product.dateAdded" class="form-control input-sm"/>
      </div>
    </div>
  </form>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">Мнения:</div>
        <div class="panel-body pross">
          <ul class="list-unstyled">
            <li ng-repeat="pros in Product.pros" class="panel panel-default">
              <div class="panel-heading">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="pros.flagIsNew" ng-bind="pros.flagIsNew" ng-change="changeForUpdate()"/>Ново
                  </label>
                  <div class="label pull-right vert">
                    <button ng-click="removeCommentFromPros(pros)" class="btn btn-danger btn-sm">Махни</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <textarea msd-elastic="msd-elastic" ng-model="pros.content" ng-bind="pros.content" class="form-control"></textarea><span ng-bind="pros.dateAdded | limitTo : 10" class="data pull-right"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Препоръки:</div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="cons in Product.cons" class="panel panel-default">
              <div class="panel-heading">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="cons.flagIsNew" ng-bind="cons.flagIsNew" ng-change="changeForUpdate()"/>Ново
                  </label>
                  <div class="label pull-right vert">
                    <button ng-click="removeCommentFromCons(cons)" class="btn btn-danger btn-sm">Махни</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <textarea msd-elastic="msd-elastic" ng-model="cons.content" ng-bind="cons.content" class="form-control"></textarea><span ng-bind="cons.dateAdded | limitTo : 10" class="data pull-right"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>