
<div class="container">
  <div class="media"><a href="" ng-click="showMe()" class="pull-left">
      <div id="imgShow" class="thumbnail"><img alt="Няма Снимка" ng-if="Product.thumbnail" ng-src="/thumb/{{Product.thumbnail}}" class="media-object"/></div></a>
    <div class="media-body">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="Product.flagNewCommentAdded" ng-bind="Product.flagNewCommentAdded" ng-change="changeForUpdate()"/>Is new comment
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="Product.flagIsNew" ng-bind="Product.flagIsNew" ng-change="changeForUpdate()" class="checkbox"/>Is it new
        </label>
      </div><a href="/" ng-click="updateProduct()" ng-show="readyForUpdate" class="btn btn-primary">Update</a><a href="/" ng-click="deleteProduct()" class="btn btn-warning">Delete</a>
    </div>
  </div>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Наименование:</label>
      <div class="col-sm-8">
        <input autofocus="autofocus" type="text" ng-model="Product.name" ng-bind="Product.name" ng-change="changeForUpdate()" class="form-control"/>
      </div>
    </div>
  </form>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Дата на добавяне:</label>
      <div class="col-sm-8">
        <input type="text" ng-model="Product.dateAdded" ng-bind="Product.dateAdded" class="form-control input-sm"/>
      </div>
    </div>
  </form>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">ЗА:</div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="pros in Product.pros" class="panel panel-default">
              <div class="panel-heading">
                <form class="form-inline">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="pros.flagIsNew" ng-bind="pros.flagIsNew" ng-change="changeForUpdate()"/>is New
                      </label>
                      <button ng-click="removeCommentFromPros(pros)" class="btn btn-warning pull-right">Remove</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="panel-body">
                <textarea rows="5" ng-model="pros.content" ng-bind="pros.content" class="form-control"></textarea>
              </div>
              <div class="panel-footer pros-color"><br/>Date:&nbsp<span ng-bind="pros.dateAdded | limitTo : 10"></span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">ПРОТИВ:</div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="cons in Product.cons" class="panel panel-default">
              <div class="panel-heading">
                <form class="form-inline">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="cons.flagIsNew" ng-bind="cons.flagIsNew" ng-change="changeForUpdate()" class="checkbox"/>is New
                      </label>
                      <button ng-click="removeCommentFromCons(cons)" class="btn btn-warning pull-right">Remove</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="panel-body">
                <textarea rows="5" ng-model="cons.content" ng-bind="cons.content" class="form-control"></textarea>
              </div>
              <div class="panel-footer cons-color"><br/>Date:&nbsp<span ng-bind="cons.dateAdded | limitTo : 10"></span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>