.navbar.navbar-fixed-top.navbar-default(role='navigation')
    .navbar-inner
        a.btn.btn-primary.upd(href='/', ng-click="updateProduct()", ng-show = 'readyForUpdate') Update
        a.btn.btn-danger.pull-right.rmv(href='', ng-click = 'deleteProduct()') Изтрий темата

.container.mmm
    .media
        .pull-left
            .text-center.padbod
                div(cg-busy="{promise:myPromise,message:'Моля изчакайте'}")
                button.btn.btn-default.btn-xs(tooltip="Завърти снимката на 90 гр.", ng-click='rotateImg()', ng-disabled='onoff')
                    span.glyphicon.glyphicon-repeat
                button.btn.btn-default.btn-xs(tooltip="Премахни снимката", ng-click='removeImg()', ng-disabled='onoff')
                    span.glyphicon.glyphicon-remove-circle
                button.btn.btn-default.btn-xs(tooltip="Забрани/банирай снимката", ng-click='bannedImg()', ng-disabled='onoff')
                    span.glyphicon.glyphicon-ban-circle
            a(href='', ng-click='showMe()')
                .thumbnail
                    img#imgShow.media-object(alt="Няма Снимка",ng-if="Product.thumbnail", ng-src='{{imageSource}}')




        .media-body
            .pad
                .checkbox
                    label
                        input(type="checkbox", ng-model='Product.flagNewCommentAdded', ng-bind = 'Product.flagNewCommentAdded', ng-change='changeForUpdate()')
                        | Нов коментар
                .checkbox
                    label
                        input(type="checkbox", ng-model='Product.flagIsNew', ng-bind = 'Product.flagIsNew', ng-change='changeForUpdate()')
                        | Нова тема

                //a.btn.btn-primary(href='/', ng-click="updateProduct()", ng-show = 'readyForUpdate') Update
                //a.btn.btn-danger(href='/', ng-click = 'deleteProduct()') Изтрий темата




    form.form-horizontal(role="form")
        .form-group
            label.col-sm-4.control-label Тема:
            .col-sm-8
                input.form-control(autofocus="autofocus", type="text", ng-model="Product.name", ng-bind='Product.name', ng-change='changeForUpdate()')
    form.form-horizontal(role="form")
        .form-group
            label.col-sm-4.control-label Дата на добавяне:
            .col-sm-8
                input.form-control.input-sm(type="text", ng-model="Product.dateAdded", ng-bind='Product.dateAdded')
    hr
    .row
        .col-md-6
            .panel.panel-success
                .panel-heading Мнения:
                .panel-body.pross
                    ul.list-unstyled
                        li.panel.panel-default(ng-repeat='pros in Product.pros')
                            .panel-heading
                                .checkbox
                                    label
                                        input(type="checkbox", ng-model='pros.flagIsNew', ng-bind = 'pros.flagIsNew', ng-change='changeForUpdate()')
                                        | Ново
                                    .label.pull-right.vert
                                        button.btn.btn-danger.btn-sm(ng-click="removeCommentFromPros(pros)") Махни
                            .panel-body
                                textarea.form-control(msd-elastic, ng-model='pros.content', ng-bind = 'pros.content')

                                span.data.pull-right(ng-bind = 'pros.dateAdded | limitTo : 10')

        .col-md-6
            .panel.panel-danger
                .panel-heading Препоръки:
                .panel-body
                    ul.list-unstyled
                        li.panel.panel-default(ng-repeat='cons in Product.cons')
                            .panel-heading
                                .checkbox
                                    label
                                        input(type="checkbox", ng-model='cons.flagIsNew', ng-bind = 'cons.flagIsNew', ng-change='changeForUpdate()')
                                        | Ново
                                    .label.pull-right.vert
                                        button.btn.btn-danger.btn-sm(ng-click="removeCommentFromCons(cons)") Махни
                            .panel-body
                                textarea.form-control(msd-elastic, ng-model='cons.content', ng-bind = 'cons.content')

                                span.data.pull-right(ng-bind = 'cons.dateAdded | limitTo : 10')