
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <ul class="pager">
        <li><a href="" ng-click="prev()" class="btn btn-default">Prew</a></li>
        <li><a href="" ng-click="next()" class="btn btn-default">Next</a></li>
      </ul><br/>
      <div class="row">
        <div class="col-md-5">
          <select id="selected" class="form-control">
            <option>New Only</option>
            <option>New Comments Only</option>
            <option>All Products</option>
          </select>
        </div>
      </div><br/>
      <div class="container">
        <ul class="list-inline">
          <li ng-repeat="item in products"><a href="/productEdit/{{item._id}}" class="thumbnail">
              <p class="fix-text-length">Наименование:  {{item.name}}</p><img ng-src="/get_image/{{item.picture[0].filename}}" class="home-image"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>