.container
    .row
        .col-md-6
            select.form-control(id='selected')
                option New Only
                option New Comments Only
                option All Products
        .col-md-6
            button.btn.btn-danger.pull-right(ng-click='dbClear()') DB Clear
    br
    .container
        .row
            ul.list-inline
                li(ng-repeat='item in products')
                    .col-lg-12.col-md-12.col-sm-12
                        a.thumbnail.fromHome(href='/productEdit/{{item._id}}')
                            p.fix-text-length Наименование:  {{item.name}}
                            img.home-image(ng-src='/thumb/{{item.thumbnail}}')
    br
    ul.pager
        li
            a.btn.btn-default(href="", ng-click="prev()") Prew
        li
            a.btn.btn-default(href="", ng-click="next()") Next

