.container
    .row
        .col-md-2
        .col-md-10
            ul.pager
                li
                    a.btn.btn-default(href="", ng-click="prev()") Prew
                li
                    a.btn.btn-default(href="", ng-click="next()") Next
            br
            .row
                .col-md-5
                    select.form-control(id='selected')
                        option New Only
                        option New Comments Only
                        option All Products
            br
            .container
                ul.list-inline
                    li(ng-repeat='item in products')
                        a.thumbnail(href='/productEdit/{{item._id}}')
                            p.fix-text-length Наименование:  {{item.name}}
                            img.home-image(ng-src='/get_image/{{item.picture[0].filename}}')

