/* --------------------------------------
   Layout
   -------------------------------------- */

body {
    padding-top: 70px; /*body to be below the navbar*/
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}


/*----------------------------------------- for Home page ------------------------------------------*/

.fromHome{
    display: block;
    width: 140px;
    min-height: 250px;
}
/*Оразмерява thumbnail*/
.home-image{
    width: auto;
    max-height: 100px;
    overflow: hidden;
}
/*ограничава дължината на текста, като го прехвърля на друг ред*/
.fix-text-length{
    max-width:150px;
    word-wrap: break-word;
}


/*------------------------------------------- for Edit Page --------------------------------------------*/
img.fromEdit /*Оразмерява thumbnail*/
{
    max-height:300px;
    max-width:250px;
}
.panel-footer.pros-color{
    height: auto;
    background: #daf0e2;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;

}
.panel-footer.cons-color{
    height: auto;
    background: #ffd4d4;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;
}

#imgShow{
    max-width: 130px;
    max-height: 130px;
}
/*Настройка на падащите менюта*/
/*.dropdown-submenu {*/
    /*position: relative;*/
/*}*/
/*.dropdown-submenu>.dropdown-menu {*/
    /*top: 0;*/
    /*left: 100%;*/
    /*margin-top: -6px;*/
    /*margin-left: -1px;*/
    /*-webkit-border-radius: 0 6px 6px 6px;*/
    /*-moz-border-radius: 0 6px 6px;*/
    /*border-radius: 0 6px 6px 6px;*/
/*}*/
/*.dropdown-submenu:hover>.dropdown-menu {*/
    /*display: block;*/
/*}*/
/*.dropdown-submenu>a:after {*/
    /*display: block;*/
    /*content: " ";*/
    /*float: right;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-color: transparent;*/
    /*border-style: solid;*/
    /*border-width: 5px 0 5px 5px;*/
    /*border-left-color: #ccc;*/
    /*margin-top: 5px;*/
    /*margin-right: -10px;*/
/*}*/
/*.dropdown-submenu:hover>a:after {*/
    /*border-left-color: #fff;*/
/*}*/
/*.dropdown-submenu.pull-left {*/
    /*float: none;*/
/*}*/
/*.dropdown-submenu.pull-left>.dropdown-menu {*/
    /*left: -100%;*/
    /*margin-left: 10px;*/
    /*-webkit-border-radius: 6px 0 6px 6px;*/
    /*-moz-border-radius: 6px 0 6px 6px;*/
    /*border-radius: 6px 0 6px 6px;*/
/*}*/











/* for IE*/
/*.js-fileapi-wrapper {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

/* --------------------------------------
   Navbar
   -------------------------------------- */

/*#searchInput {*/
	/*width: 200px;*/
/*}*/

/*.navbar-brand {*/
	/*padding: 13px 15px;*/
/*}*/

/* --------------------------------------
   Global Styles
   -------------------------------------- */

/*.alert {*/
	/*margin-top: 20px;*/
	/*display: none;*/
/*}*/






