/* --------------------------------------
   Layout
   -------------------------------------- */

body {
    padding-top: 30px; /*body to be below the navbar*/
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
/*footer {*/
    /*background: #333;*/
    /*color: #eee;*/
    /*font-size: 11px;*/
    /*padding: 20px;*/
/*}*/


/*----------------------------------------- for Home page ------------------------------------------*/

.thumbnail {
    box-shadow: 5px 5px 10px #888888;
}
.search {
    max-width: 400px;
}

.nothing{
    max-width: 500px;
    padding-bottom: 30px;
    font-weight: bold;
}
.aaa {
    width: 100%;
    text-align: center;
}
.aaa li {
    display: inline-block; /* the key bit */
    *display: inline; /* IE7 hack */
    *zoom: 1; /* IE7 hack */
    padding-right: 10px;
    padding-left: 10px;
}
.thumbnail.home{
    display: block;
    min-width: 150px;
    min-height: 250px;
    text-decoration: none;
    width: 170px;
}
#imgsize{
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 10px;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
}
#bellow{
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: .9em;
    color: #000000;
}
.badge{
    background-color: cornflowerblue;
}
hr.seen{
    margin-top: 5px;
    margin-bottom: 2px;
}
.seen{
    font-size: .9em;
}
.thumbnail .newTopic {
    /*font-size: 22px;*/
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.thumbnail .newComent {
    /*font-size: 22px;*/
    position: absolute;
    margin-top: -15px;
    margin-left: 64px;

}
.width{

    margin-top: 8px;
    max-width: 290px;
}
@media (max-width: 400px) {
    .width{
        font-size: .9em;
        margin-top: 8px;
        max-width: 190px;
    }
}
.fromHome{
    display: block;
    width: 140px;
    min-height: 250px;
}
/*Оразмерява thumbnail*/
.home-image{
    width: auto;
    max-height: 100px;
    overflow: hidden;
}
/*ограничава дължината на текста, като го прехвърля на друг ред*/
.fix-text-length{
    max-width:150px;
    word-wrap: break-word;
}


/*------------------------------------------- for Edit Page --------------------------------------------*/
img.fromEdit /*Оразмерява thumbnail*/
{
    max-height:300px;
    max-width:250px;
}
.panel-footer.pros-color{
    height: auto;
    background: #daf0e2;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;

}
.panel-footer.cons-color{
    height: auto;
    background: #ffd4d4;
    text-align: right;
    color: #2d6ca2;
    font-size: 12px;
}
#imgShow{
    max-width: 130px;
    max-height: 130px;
}
.vert{
    padding-top: 0;
    margin-top: -2px;
    margin-right: -6px;
}
span.data{
    font-size: .8em;
    color: grey;
    padding-top: 5px;
}
@media (max-height: 669px) {
    .pross{
        max-height:300px;
        overflow-y:auto;
    }
}
@media (min-height: 670px) {
    .pross{
        max-height:450px;
        overflow-y:auto;
    }
}

.ppp{
    padding-bottom: 30px;
}
@media (max-width: 550px) {
    .adj{
        max-width: 300px;
    }
    img.fromShow {
        max-height: 100px;
        max-width: 500px;
    }

}
@media (max-width: 350px) {
    .adj{
        max-width: 200px;
    }
}
/*Настройка на падащите менюта*/
/*.dropdown-submenu {*/
    /*position: relative;*/
/*}*/
/*.dropdown-submenu>.dropdown-menu {*/
    /*top: 0;*/
    /*left: 100%;*/
    /*margin-top: -6px;*/
    /*margin-left: -1px;*/
    /*-webkit-border-radius: 0 6px 6px 6px;*/
    /*-moz-border-radius: 0 6px 6px;*/
    /*border-radius: 0 6px 6px 6px;*/
/*}*/
/*.dropdown-submenu:hover>.dropdown-menu {*/
    /*display: block;*/
/*}*/
/*.dropdown-submenu>a:after {*/
    /*display: block;*/
    /*content: " ";*/
    /*float: right;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-color: transparent;*/
    /*border-style: solid;*/
    /*border-width: 5px 0 5px 5px;*/
    /*border-left-color: #ccc;*/
    /*margin-top: 5px;*/
    /*margin-right: -10px;*/
/*}*/
/*.dropdown-submenu:hover>a:after {*/
    /*border-left-color: #fff;*/
/*}*/
/*.dropdown-submenu.pull-left {*/
    /*float: none;*/
/*}*/
/*.dropdown-submenu.pull-left>.dropdown-menu {*/
    /*left: -100%;*/
    /*margin-left: 10px;*/
    /*-webkit-border-radius: 6px 0 6px 6px;*/
    /*-moz-border-radius: 6px 0 6px 6px;*/
    /*border-radius: 6px 0 6px 6px;*/
/*}*/











/* for IE*/
/*.js-fileapi-wrapper {*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

/* --------------------------------------
   Navbar
   -------------------------------------- */

/*#searchInput {*/
	/*width: 200px;*/
/*}*/

/*.navbar-brand {*/
	/*padding: 13px 15px;*/
/*}*/

/* --------------------------------------
   Global Styles
   -------------------------------------- */

/*.alert {*/
	/*margin-top: 20px;*/
	/*display: none;*/
/*}*/



