extends includes/layout
block main-content
    div(ng-app='app')
        header
            .container
                .navbar.navbar-default.navbar-fixed-top(role='navigation')
                    .navbar-inner
                        .container
                            a.navigate-top-logo.navbar-brand(href='/')
                                img(src='../../images/logo.png', alt='Your Logo')
                            //button.btn.navbar-toggle(type='button', ng-init='isCollapsed =false', ng-click="isCollapsed = !isCollapsed")
                            //    span.sr-only Toggle navigation
                            //    span.icon-bar
                            //    span.icon-bar
                            //    span.icon-bar
                            //.navbar-collapse(collapse="!isCollapsed")
                            ul.nav.navbar-nav
                                li
                                    a.skrii(href='/') Home
                                //    li.dropdown
                                //        a.dropdown-toggle(href='', data-toggle='dropdown') Who We Are
                                //            span.caret
                                //        ul.dropdown-menu(role="menu")
                                //            li(role="presentation")
                                //                a.skrii(href='/whoWeAre') Us
                                //            li.divider
                                //            li
                                //                a.skrii(href='/teachers') Teachers
                                //    li.dropdown
                                //        a.dropdown-toggle(href='', data-toggle='dropdown') Courses
                                //            span.caret
                                //        ul.dropdown-menu
                                //            li
                                //                a.skrii(href='/cocktail_barman') Курс за коктей-бармани
                                //            li
                                //                a.skrii(href='') Курс за баристи
                                //            li
                                //                a.skrii(href='') Курс за бармани - Майсторски клас
                                //            li
                                //                a.skrii(href='') Курс за флеър
                                //            li
                                //                a.skrii(href='') Курс за управител на заведение
                                //ul.nav.navbar-nav.pull-right
                                //    li.dropdown
                                //        a.dropdown-toggle(href='', data-toggle='dropdown') Services
                                //            span.caret
                                //        ul.dropdown-menu
                                //            li
                                //                a.skrii(href='') Коктейлни сиропи
                                //            li
                                //                a.skrii(href='') Консумативи
                                //            li.divider
                                //            li
                                //                a.skrii(href='') Управление на бар
                                //            li
                                //                a.skrii(href='') Съдействие за работа
                                //            li
                                //                a.skrii(href='') Индивидуална консултация
                                //    li
                                //        a.skrii(href='') News & Events
                                //    li.dropdown
                                //        a.dropdown-toggle(href='', data-toggle='dropdown') Contacts
                                //            span.caret
                                //        ul.dropdown-menu
                                //            li
                                //                a.skrii(href='/addresses') Адреси
                                //            li.divider
                                //            li
                                //                a.skrii(href='/contacts') Свържете се с нас
        section
            #main(ng-view)
        footer
            .container
                .row
                    .col-sm-2
                        p Copyright &copy; 2013 {name}
                    .col-sm-4
                        p About Us
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .col-sm-2
                        p Navigation
                        ul.unstyled
                            li
                                a(href='/') Home
                            li
                                a(href='/services') Services
                            li
                                a(href='') Links
                            li
                                a(href='/contacts') Contacts
                    .col-sm-2
                        p Follow Us
                            ul.unstyled
                                li
                                    a(href='') Twitter
                                li
                                    a(href='') Facebook
                                li
                                    a(href='') Google Plus
                    .col-sm-2
                        h6 Coded with
                            span.glyphicon.glyphicon-heart
                            | by Zorro