<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN - Boklucite ni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Отворена книга за мнения и препоръки.">
    <!--meta(name="keywords" content="мнение,мнения,мнението,мненията,препоръка,препоръчвам,препоръчка,препоръки,препоръката,книга за препоръки,книга за мнения")-->
    <meta name="revisit-after" content="1 days">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <link rel="apple-touch-icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Other CSS-->
    <!--link(rel="stylesheet" href="/lib/toastr/toastr.css")-->
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div ng-app="app">
      <header>
        <!--.container-->
        <!--    .navbar.navbar-default.navbar-fixed-top(role='navigation')-->
        <!--        .navbar-inner-->
        <!--            .container-->
        <!--                //a.navigate-top-logo.navbar-brand(href='/')
        //    img(src='../../images/logo.png', alt='Your Logo')
        //button.btn.navbar-toggle(type='button', ng-init='isCollapsed =false', ng-click="isCollapsed = !isCollapsed")
        //    span.sr-only Toggle navigation
        //    span.icon-bar
        //    span.icon-bar
        //    span.icon-bar
        //.navbar-collapse(collapse="!isCollapsed")
        //
        //ul.nav.navbar-nav
        //    li
        //        a.skrii(href='/') Home
        //    li.disapp
        //        div(ng-include="'p/partials/select'")
            //    li.dropdown
            //        a.dropdown-toggle(href='', data-toggle='dropdown') Who We Are
            //            span.caret
            //        ul.dropdown-menu(role="menu")
            //            li(role="presentation")
            //                a.skrii(href='/whoWeAre') Us
            //            li.divider
            //            li
            //                a.skrii(href='/teachers') Teachers
            //    li.dropdown
            //        a.dropdown-toggle(href='', data-toggle='dropdown') Courses
            //            span.caret
            //        ul.dropdown-menu
            //            li
            //                a.skrii(href='/cocktail_barman') Курс за коктей-бармани
            //            li
            //                a.skrii(href='') Курс за баристи
            //            li
            //                a.skrii(href='') Курс за бармани - Майсторски клас
            //            li
            //                a.skrii(href='') Курс за флеър
            //            li
            //                a.skrii(href='') Курс за управител на заведение
            //ul.nav.navbar-nav.pull-right
            //    li.dropdown
            //        a.dropdown-toggle(href='', data-toggle='dropdown') Services
            //            span.caret
            //        ul.dropdown-menu
            //            li
            //                a.skrii(href='') Коктейлни сиропи
            //            li
            //                a.skrii(href='') Консумативи
            //            li.divider
            //            li
            //                a.skrii(href='') Управление на бар
            //            li
            //                a.skrii(href='') Съдействие за работа
            //            li
            //                a.skrii(href='') Индивидуална консултация
            //    li
            //        a.skrii(href='') News & Events
            //    li.dropdown
            //        a.dropdown-toggle(href='', data-toggle='dropdown') Contacts
            //            span.caret
            //        ul.dropdown-menu
            //            li
            //                a.skrii(href='/addresses') Адреси
            //            li.divider
            //            li
            //                a.skrii(href='/contacts') Свържете се с нас
        -->
      </header>
      <section>
        <div id="main" ng-view></div>
      </section>
      <footer>
        <!--.container-->
        <!--    .row-->
        <!--        .col-sm-2-->
        <!--            p Copyright &copy; 2013 {name}-->
        <!--        .col-sm-4-->
        <!--            p About Us-->
        <!--            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
        <!--        .col-sm-2-->
        <!--            p Navigation-->
        <!--            ul.unstyled-->
        <!--                li-->
        <!--                    a(href='/') Home-->
        <!--                li-->
        <!--                    a(href='/services') Services-->
        <!--                li-->
        <!--                    a(href='') Links-->
        <!--                li-->
        <!--                    a(href='/contacts') Contacts-->
        <!--        .col-sm-2-->
        <!--            p Follow Us-->
        <!--                ul.unstyled-->
        <!--                    li-->
        <!--                        a(href='') Twitter-->
        <!--                    li-->
        <!--                        a(href='') Facebook-->
        <!--                    li-->
        <!--                        a(href='') Google Plus-->
        <!--        .col-sm-2-->
        <!--            h6 Coded with-->
        <!--                span.glyphicon.glyphicon-heart-->
        <!--                | by Zorro-->
      </footer>
    </div>
    <!-- JQuery SCRIPT-->
    <!--script(type="text/javascript", src="/lib/jquery/dist/jquery.min.js")-->
    <!-- Bootstrap SCRIPT-->
    <!--script(src="/lib/bootstrap/dist/js/bootstrap.min.js")-->
    <!-- Other SCRIPTS-->
    <!--script(src="/lib/toastr/toastr.js")-->
    <!-- Angular SCRIPTS-->
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    <!--script(type="text/javascript" src="/lib/ng-table/ng-table.js")-->
    <script type="text/javascript" src="/js/angular-cookies.js"></script>
    <script type="text/javascript" src="/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <!--script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload-shim.min.js")-->
    <!--script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload.min.js")-->
    <script type="text/javascript" src="/js/angular-busy.min.js"></script>
    <!-- Custom SCRIPTS-->
    <script type="text/javascript" src="/app/app.min.js"></script>
    <!-- Controllers-->
    <script type="text/javascript" src="/app/controllers/homeCtrl.min.js"></script>
    <script type="text/javascript" src="/app/controllers/productEditCtrl.min.js"></script>
    <!-- Services-->
    <!--script(type="text/javascript" src="/app/services/homeService.js")-->
    <!--script(type="text/javascript" src="/app/services/productEditService.min.js")-->
    <!--script(type="text/javascript" src="/app/test/products/productsServices.js")-->
    <!--script(type="text/javascript" src="/app/test/products/productsCRUD.js")-->
    <!---->
    <!--script(type="text/javascript", src="/app/test/all_products/allProductsCtrl.js")-->
    <!--script(type="text/javascript", src="/app/test/all_products/all_productsServices.js")-->
    <!---->
    <!---->
    <!--script(type="text/javascript" src="/app/main/HomeCtrl.js")-->
    
    <!--script(type="text/javascript" src="/app/teachers/teachersResource.js")-->
    <!--script(type="text/javascript" src="/app/teachers/cashedTeachers.js")-->
    <!--script(type="text/javascript" src="/app/teachers/teacherDetailsCtrl.js")-->
    <!--script(type="text/javascript" src="/app/account/loginCtrl.js")-->
    <!--script(type="text/javascript" src="/app/account/identity.js")-->
    <!--script(type="text/javascript" src="/app/account/auth.js")-->
    <!--script(type="text/javascript" src="/app/admin/userListCtrl.js")-->
    <!--script(type="text/javascript" src="/app/common/notifier.js")-->
    
    
  </body>
</html>