doctype
html
    head
        title ADMIN - Boklucite ni
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name="description", content="Отворена книга за мнения и препоръки.")
        //meta(name="keywords" content="мнение,мнения,мнението,мненията,препоръка,препоръчвам,препоръчка,препоръки,препоръката,книга за препоръки,книга за мнения")
        meta(name="revisit-after", content="1 days")
        meta(name="robots", content="index,follow")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="shortcut icon" href="./images/favicon.ico")
        link(rel="apple-touch-icon" href="./images/favicon.png")
        link(rel="stylesheet" href="/css/styles.css")
        // Other CSS
        //link(rel="stylesheet" href="/lib/toastr/toastr.css")

        // Custom CSS
        link(rel="stylesheet" href="/css/styles.css")

    body
        block main-content
        include scripts
