// JQuery SCRIPT
//script(type="text/javascript", src="/lib/jquery/dist/jquery.min.js")

// Bootstrap SCRIPT
//script(src="/lib/bootstrap/dist/js/bootstrap.min.js")

// Other SCRIPTS
//script(src="/lib/toastr/toastr.js")

// Angular SCRIPTS
script(type="text/javascript" src="/lib/angular/angular.min.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.min.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.min.js")
//script(type="text/javascript" src="/lib/ng-table/ng-table.js")
script(type="text/javascript" src="/js/angular-cookies.js")
script(type="text/javascript" src="/js/ui-bootstrap-tpls-0.11.2.min.js")
//script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload-shim.min.js")
//script(type="text/javascript" src="/lib/angular-file-upload/dist/angular-file-upload.min.js")

script(type="text/javascript" src="/js/angular-busy.min.js")
// Custom SCRIPTS
script(type="text/javascript" src="/app/app.min.js")

// Controllers
//script(type="text/javascript" src="/app/controllers/homeCtrl.min.js")
//script(type="text/javascript" src="/app/controllers/productEditCtrl.min.js")

// Services
//script(type="text/javascript" src="/app/services/homeService.js")
//script(type="text/javascript" src="/app/services/productEditService.min.js")
//script(type="text/javascript" src="/app/test/products/productsServices.js")
//script(type="text/javascript" src="/app/test/products/productsCRUD.js")
//
//script(type="text/javascript", src="/app/test/all_products/allProductsCtrl.js")
//script(type="text/javascript", src="/app/test/all_products/all_productsServices.js")
//
//
//script(type="text/javascript" src="/app/main/HomeCtrl.js")


//script(type="text/javascript" src="/app/teachers/teachersResource.js")
//script(type="text/javascript" src="/app/teachers/cashedTeachers.js")
//script(type="text/javascript" src="/app/teachers/teacherDetailsCtrl.js")
//script(type="text/javascript" src="/app/account/loginCtrl.js")
//script(type="text/javascript" src="/app/account/identity.js")
//script(type="text/javascript" src="/app/account/auth.js")

//script(type="text/javascript" src="/app/admin/userListCtrl.js")
//script(type="text/javascript" src="/app/common/notifier.js")



